spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  ai:
    chat:
      client:
        enabled: false   # Multiple ChatClients are defined ourselves
    openai:
      api-key: ${AI_OPENAI_API_KEY}
      chat:
        options:
          model: gpt-4o
          temperature: 0.7
      embedding:
        options:
          model: text-embedding-3-small
    vectorstore:
      pgvector:
        initialize-schema: true
        dimensions: 1536
        index-type: hnsw
        table-name: topics_vectors

ai:
  models:
    smart:
      id: gpt-4.1
      temperature: 1.0
    cheap:
      id: gpt-5-mini
      temperature: 1.0

youtube:
  api-key: YOUTUBE_API_KEY